.wrapper{
	max-width: 72em;
	margin: 2em auto;
}

section#add_files, section#choose_your_size{
  padding: 3.5em 0;
  background-color: #fff;
}

//Choose your size

div.choose_your_size_div{
  padding: 0.5em 0;
}
